@charset "utf-8";
/* CSS Document */
body {
  margin: 0;
  font-family: Helvetica, Arial;
  font-size: 12px;

  color: #000000;
  background-color: #e7ebf2; padding:0; 
}
* { list-style:none; padding:0; margin:0;}
a, a:hover {
  color: #ec624d;
  text-decoration: none;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:hover,
a:active {
  outline: 0;
}
a:focus {
  outline: none;
  outline: none;
  outline-offset:none;
}
header { width:1000px; margin:0 auto; }
header .logo { float:left; background:url(/media/image/home/sprite.png) -18px -2px no-repeat; width:599px; height:98px; }
header .logo a {width:599px; height:98px; display:block;}

header .right { float:right; width:152px; margin:18PX 0 0 0;}
header .share { width:168px; background:url(/media/image/home/sprite.png) -10px -178px no-repeat; height:25px; color:#6584df; margin:0 0 17PX 0; }
header .share em { padding:8px 5px 0 5px; font-style:normal; float:left;}
header .share a{ float:left; width:18PX; height:18PX; margin:5px 4px 0 0;}

header .logoright { float:right; width:140px; height:41px; background:url(/media/image/home/sprite.png) -10px -119px no-repeat;}
header .logoright a { width:140px; height:41px; display:block;}

header nav { background:#2e4f85; border:solid 1px #252627; font:normal 13px Arial, Helvetica, sans-serif; color:#fff; float:left; width:100%; border-radius:5px;margin:0 0 20px 0;}

header nav ul, header nav ul li { float:left; }
header nav ul li { padding:3px 12px; text-shadow:1px 1px 1px #012054; border-right:solid 1px #243e69; margin:5px 0;}
header nav ul li a { color:#fff;}
header nav ul li a:hover { color:#fff;}
header nav ul li.home { width:19px; height:13px; background:url(/media/image/home/sprite.png) -177px -150px no-repeat; margin:7px 0 0 0;}
header nav ul li.home a {width:19px; height:13px; display:block;}
.homemid {width:1000px; margin:0 auto; clear:both; }
.topmid { background:#000000; font: normal 24px Arial, Helvetica, sans-serif; color:#fff; box-shadow: 1px 1px 1px #c4cde0; border-radius:5px; float:left;}
.topmid em { font-style:normal; padding:30px 0 0 30px; text-transform:uppercase; padding:30px ; float:left;}

.midbox { background:#f2f4f8; border:solid 1px #d7ddea; border-radius:5px; color:#727a89; padding:30px; margin:22px 0; font-size:20px;  float:left; width:940px;}
.midbox em { width:780px; float:left; font-style:normal;}
.midbox .get { float:right; background:#ff9000; text-align:center; font:bold 22px Arial, Helvetica, sans-serif; padding:8px; border-radius:5px; padding:0px 15x; color:#fff; box-shadow: 1px 1px 1px #c4cde0;}
.midbox .get a { color:#fff;}

.webapps { color:#535a69;margin:10px 0; float:left;}
.webapps h2 { display:block; font:normal 22px Arial, Helvetica, sans-serif;}
.app { width:300px; padding:12px 12px 30px 12px; float:left; border-radius:5px;margin-right:10px ; border:solid 1px #c4cde0; background:#fff; color:#3a3a3a; position:relative;  }
.app a {color:#3a3a3a;}
.app strong { text-transform:uppercase; display:block; font-size:20px; padding:10px 0; font-weight:normal;}
.mar { margin:0 10px;}
.fb { border:none; background:none; border-radius:0px; padding:0 12px;}
.arrow { position:absolute; bottom:0; right:10px; border-color:transparent transparent #f89b1d transparent ;
  border-style: solid;
  border-width: 25px;}
  .blue {border-color:transparent transparent #15b6e9 transparent }
  .green {border-color:transparent transparent #9bcc4e transparent }
  
  
  footer { background:#bdc3ce; float:left; width:100%; margin:15px 0 0 0;} 
    footer .foot { width:1000px; margin:0 auto; color:#747c8a; border-top:solid 1px #b9bcc2; padding:20px 0 40px 0; }
   footer .foot ul { float:left; width:400px;}
    footer .foot a {color:#747c8a;} 
	 footer .foot ul li { float:left;}
	 footer .foot ul li a{ float:left; padding: 0 5px ;}
	  footer .foot span { float:right; width:500px; text-align:right;}
	  .pullleft { float:left;}
	  .pullright { float:right;}
	  
	  .ficon { background:url(/media/image/home/sprite.png) -271px -130px no-repeat; width:70px; height:70px; float:right; }
	.description { }
		.description img { float:left; border-radius:4px;}
		.description aside { border-radius:4px; border:1px solid #C4CDE0; background:#fff; width:340px; padding:30px 0 0 0;}
			.description aside .top { padding:0 30px 30px 30px; background:#fff;}
	
			.description aside span { text-transform:uppercase; color:#3f495a; font-size:20px; padding:0 30px 0 0}
			.description aside h2 { font-size:18px; color:#000; font-weight:normal; padding:10px 0;}
			.description aside p{ color:#989898;}
			.description aside .bottom { background:#e5e5e5; float:left; font-size:12px; padding:30px}
			.description aside .bottom a { color:#134568; text-decoration:underline; text-transform:none;}
				.description aside .bottom .orange {background: #ff8e00; /* Old browsers */
background: -moz-linear-gradient(top, #ff8e00 0%, #ff7002 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff8e00), color-stop(100%,#ff7002)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ff8e00 0%,#ff7002 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ff8e00 0%,#ff7002 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ff8e00 0%,#ff7002 100%); /* IE10+ */
background: linear-gradient(to bottom, #ff8e00 0%,#ff7002 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8e00', endColorstr='#ff7002',GradientType=0 ); /* IE6-9 */; text-align:center; text-transform:uppercase; font-size:14px; border-radius:4px; box-shadow:1px 1px 1px #acacac; padding:10px 5px; color:#fff; font-weight:bold; width:120px;  margin:20px 10px  0 0; text-transform:uppercase;}
	.description aside .bottom .orange a { color:#fff; text-decoration:none;text-transform:uppercase;}
	
	.how { background:#fff;border-radius:5px;  border:solid 1px #c4cde0; background:#fff; color:#3a3a3a; position:relative; margin:20px 0; width:100%; padding:20PX 0 35PX 0 }
	
	.how h2 { text-align:center; text-transform:uppercase; font:normal 22px Arial, Helvetica, sans-serif; color:#14243d; padding:10px;}
	.how .arrow { right:60px;}
	.how .blue { right:20px;}
	.how .green { right:40px;}
	
	.order {background: #00b7e9; /* Old browsers */
background: -moz-linear-gradient(top, #00b7e9 1%, #00a0c6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#00b7e9), color-stop(100%,#00a0c6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #00b7e9 1%,#00a0c6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #00b7e9 1%,#00a0c6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #00b7e9 1%,#00a0c6 100%); /* IE10+ */
background: linear-gradient(to bottom, #00b7e9 1%,#00a0c6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7e9', endColorstr='#00a0c6',GradientType=0 ); /* IE6-9 */; border-radius:5px; text-transform:uppercase; text-align:center; color:#fff; width:200px; padding:10px; margin:20px auto; clear:both; font:bold 20px Arial, Helvetica, sans-serif; }

.order a { color:#fff; text-decoration:none;}