{% include 'header.html' %}

<section class="homemid">
<div class="topmid">
	<a target="_blank" href='{% url app_description app_banner.id %}'><img src="{{MEDIA_URL}}{{app_banner.bigImg}}" width="1000" height="262" alt="">
	<em>{{ app_banner.title }} </em></a>
</div>
<div class="midbox">
<em>{{ app_banner.text }}</em>

<span class="get"><a target="_blank" href="{% url app_description app_banner.id %}">Get Started</a></span>

</div>

<div class="webapps">

	<h2>Web Apps</h2>
	{%for app in web_apps %}
	<div class="app">
		<a target="_blank" href='{% url app_description app_banner.id %}'><img src="{{MEDIA_URL}}{{ app.homeImg }}" width="295" height="220" alt=""><strong>{{ app.title }}</strong></a> 
	 	{{ app.text }}
	 	<span class="arrow green"></span>
	</div>
	{% endfor %}
	

</div>

<br/>
<div class="fb-like" data-href="http://apps.digiqom.com/" data-send="true" data-width="350" data-show-faces="false"></div>

{%comment%}
<div class="webapps">

<h2>Mobile Apps</h2>
{% for app in mob_apps %}
<div class="app">
	<img src="{{MEDIA_URL}}{{app.homeImg}}" width="295" height="220" alt="">
	<strong><a href="#">{{app.title}}</a></strong> 
	{{ app.text }}
	<span class="arrow blue"></span>
</div>
{% endfor %}




<!--<span class="pullleft"><img src="images/like.gif" width="346" height="32" alt=""></span>-->
<div class="ficon"> 
<span> <a href="#"></a></span><span><a href="#"></a></span>
</div>
{%endcomment%}
</section>

{% include 'footer.html' %}

</body>
</html>
