{% include 'header.html' %}



<section class="homemid">
<article class="description">
  <a href='#'><img src="{{MEDIA_URL}}{{app.dcrptnImg}}" width="646" height="385" alt="" align="left"></a> 
  
  <aside class="pullright">
  
  <div class="top"> <span>Description</span> <h2>{{app.title}}</h2><p>{{app.text}} </p></div>

<div class="bottom">To order this app, contact us on <a href="#">apps@digiqom.com </a>
<span class="clearfix pullleft" style="width:100%;"></span>
<span class="orange pullleft"><a href="{{app.dummyUrl}}">Demo</a></span>
<span class="orange pullright"><a href="{{app.clickUrl}}">use case</a></span>



</div>




</aside>
  
  
  </article>

<div class="how pullleft">

<h2>Web Apps</h2>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
  	{%if app.optnlImg1%}
    <td align="center"><img src="{{MEDIA_URL}}{{app.optnlImg1}}" width="270" height="347" alt=""></td>
    {%endif%}
    {%if app.optnlImg1%}
    <td align="center"><img src="{{MEDIA_URL}}{{app.optnlImg2}}" width="270" height="347" alt=""></td>
    {%endif%}
    {%if app.optnlImg1%}
    <td align="center"><img src="{{MEDIA_URL}}{{app.optnlImg3}}" width="270" height="347" alt=""></td>
    {%endif%}
  </tr>
  </table>


<span class="arrow "></span>
<span class="arrow green"></span>
<span class="arrow blue"></span>

</div>
<img src="{{MEDIA_URL}}image/home/social.gif" width="1005" height="292" alt="">
</div>
<div class="order"><a href="#">ORDER NOW</a></div>
<span class="pullleft">

<div class="fb-like" data-href="http://apps.digiqom.com/appstore/{{app.id}}/" data-send="true" data-width="350" data-show-faces="false"></div>
</span>
<div class="ficon"> 
<span> <a href="#"></a></span><span><a href="#"></a></span>
</div>

</section>

{% include 'footer.html' %}
</body>
</html>
